# COVID-19 Prediction Analysis

In [1]:
# Suppress warning messages
import warnings 
warnings.filterwarnings('ignore')

In [2]:
# Import general dependencies
import os 
import pandas as pd
from pprint import pprint
from pathlib import Path
import matplotlib.pyplot as plt
# from collections import Counter
import numpy as np
import datetime

In [3]:
#Import connection dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import psycopg2

In [4]:
# Import machine learning dependencies 
import sklearn as skl
from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
# from sklearn.metrics import accuracy_score, confusion_matrix
# from imblearn.metrics import classificationn_report_imbalanced 
from sklearn.metrics import mean_squared_error

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.callbacks import ModelCheckpoint

# import keras_tuner as kt

### Data Source

**Our World in Data COVID-19 Dataset Citation**
Hannah Ritchie, Edouard Mathieu, Lucas Rodés-Guirao, Cameron Appel, Charlie Giattino, Esteban Ortiz-Ospina, Joe Hasell, Bobbie Macdonald, Diana Beltekian and Max Roser (2020) - "Coronavirus Pandemic (COVID-19)". Published online at OurWorldInData.org. Retrieved from: [Our World In Data / Coronavirus](https://ourworldindata.org/coronavirus)

In [5]:
# Create connection to SQL database
conn = psycopg2.connect(
    host="finalproject.cjgqtjwgyywe.us-east-2.rds.amazonaws.com",
    database="postgres",
    user="postgres",
    password="FinalProject1")

In [6]:
# Read the OneWorldInData COVID-19 database into a DataFrame
df = pd.read_sql("SELECT * from all_countries_data", conn)
print(df.shape)
df.head()

(187000, 68)

,id_row,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,89248,ITA,Europe,Italy,2020-09-09,281583.0,1430.0,1438.286,35577.0,14.0,...,19.8,27.8,NaN,3.18,83.51,0.892,NaN,NaN,NaN,NaN
1,187610,USA,North America,United States,2020-10-08,7611057.0,57890.0,46397.714,211879.0,939.0,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
2,187638,USA,North America,United States,2020-11-05,9670209.0,128081.0,99990.857,235450.0,1167.0,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
3,187660,USA,North America,United States,2020-11-27,13164517.0,214634.0,170510.571,266104.0,1622.0,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
4,187677,USA,North America,United States,2020-12-14,16618535.0,209825.0,220695.143,304248.0,1655.0,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN

In [7]:
# Set the id_row column as index and reorder records by id.
df = df.set_index('id_row').sort_values(by='id_row')
print(df.shape)
df.head()

(187000, 67)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
id_row,,,,,,,,,,,,,,,,,,,,,
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [8]:
# Check non-null counts and data types.
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 187000 entries, 0 to 198845
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    187000 non-null  object
 1   continent                                   187000 non-null  object
 2   location                                    187000 non-null  object
 3   date                                        187000 non-null  object
 4   total_cases                                 179392 non-null  float64
 5   new_cases                                   179111 non-null  float64
 6   new_cases_smoothed                          177999 non-null  float64
 7   total_deaths                                160966 non-null  float64
 8   new_deaths                                  160731 non-null  float64
 9   new_deaths_smoothed                         159637 non-null  float64
 10  total_cases_per_million                     179392 non-null  float64
 11  new_cases_per_million                       179111 non-null  float64
 12  new_cases_smoothed_per_million              177999 non-null  float64
 13  total_deaths_per_million                    160966 non-null  float64
 14  new_deaths_per_million                      160731 non-null  float64
 15  new_deaths_smoothed_per_million             159637 non-null  float64
 16  reproduction_rate                           148217 non-null  float64
 17  icu_patients                                26324 non-null   float64
 18  icu_patients_per_million                    26324 non-null   float64
 19  hosp_patients                               27539 non-null   float64
 20  hosp_patients_per_million                   27539 non-null   float64
 21  weekly_icu_admissions                       6458 non-null    float64
 22  weekly_icu_admissions_per_million           6458 non-null    float64
 23  weekly_hosp_admissions                      12864 non-null   float64
 24  weekly_hosp_admissions_per_million          12864 non-null   float64
 25  total_tests                                 79385 non-null   float64
 26  new_tests                                   75401 non-null   float64
 27  total_tests_per_thousand                    79385 non-null   float64
 28  new_tests_per_thousand                      75401 non-null   float64
 29  new_tests_smoothed                          103963 non-null  float64
 30  new_tests_smoothed_per_thousand             103963 non-null  float64
 31  positive_rate                               95920 non-null   float64
 32  tests_per_case                              94058 non-null   float64
 33  tests_units                                 106786 non-null  object
 34  total_vaccinations                          48147 non-null   float64
 35  people_vaccinated                           45566 non-null   float64
 36  people_fully_vaccinated                     43252 non-null   float64
 37  total_boosters                              21153 non-null   float64
 38  new_vaccinations                            38331 non-null   float64
 39  new_vaccinations_smoothed                   102619 non-null  float64
 40  total_vaccinations_per_hundred              48147 non-null   float64
 41  people_vaccinated_per_hundred               45566 non-null   float64
 42  people_fully_vaccinated_per_hundred         43252 non-null   float64
 43  total_boosters_per_hundred                  21153 non-null   float64
 44  new_vaccinations_smoothed_per_million       102619 non-null  float64
 45  new_people_vaccinated_smoothed              101761 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  101761 non-null  float64
 47  stringency_index                            154536 non-null  float64
 48  population                                  187000 non-null  float64
 49  population_density                          176301 non-null  float64
 50  median_age                                  163360 non-null  float64
 51  aged_65_older                               161623 non-null  float64
 52  aged_70_older                               162500 non-null  float64
 53  gdp_per_capita                              162266 non-null  float64
 54  extreme_poverty                             105586 non-null  float64
 55  cardiovasc_death_rate                       162969 non-null  float64
 56  diabetes_prevalence                         170988 non-null  float64
 57  female_smokers                              122880 non-null  float64
 58  male_smokers                                121183 non-null  float64
 59  handwashing_facilities                      79527 non-null   float64
 60  hospital_beds_per_thousand                  144542 non-null  float64
 61  life_expectancy                             185082 non-null  float64
 62  human_development_index                     158566 non-null  float64
 63  excess_mortality_cumulative_absolute        6818 non-null    float64
 64  excess_mortality_cumulative                 6818 non-null    float64
 65  excess_mortality                            6818 non-null    float64
 66  excess_mortality_cumulative_per_million     6818 non-null    float64
dtypes: float64(62), object(5)
memory usage: 97.0+ MB

In [9]:
# Count the records in the COVID-19 DataFrame.
records = df["location"].count()
print(f"There are {records} location-specific records in the OWID COVID-19 dataset as of July 5th, 2022.")

There are 187000 location-specific records in the OWID COVID-19 dataset as of July 5th, 2022.

In [10]:
# Check the earliest and latest date in the dataset. 
df["date"].sort_values()

id_row
6822      2020-01-01
115431    2020-01-01
6823      2020-01-02
115432    2020-01-02
115433    2020-01-03
             ...
18933     2022-07-04
50735     2022-07-04
121987    2022-07-04
49879     2022-07-04
198845    2022-07-04
Name: date, Length: 187000, dtype: object

The OWID COVID-19 data entry started on January 1st, 2020 and has been daily updated till July 4th, 2022 when we pulled the dataset from the [OWID/COVID-19-data GitHub Repository](https://github.com/owid/covid-19-data/tree/master/public/data).

In [11]:
# Count the unique locations included in the COVID-19 dataset. 
countries_count = len(df["location"].unique())
print(f"There are {countries_count} unique values in the OWID COVID-19 location column.")

There are 230 unique values in the OWID COVID-19 location column.

In [12]:
# List the locations included in the COVID-19 dataset.
locations_list = df["location"].unique()
print(f"Locations list: {locations_list}")

Locations list: ['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Anguilla'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bonaire Sint Eustatius and Saba' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'British Virgin Islands' 'Brunei' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia' 'Comoros'
 'Congo' 'Cook Islands' 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba'
 'Curacao' 'Cyprus' 'Czechia' 'Democratic Republic of Congo' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini'
 'Ethiopia' 'Faeroe Islands' 'Falkland Islands' 'Fiji' 'Finland' 'France'
 'French Polynesia' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana'
 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guam' 'Guatemala' 'Guernsey'
 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hong Kong'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland'
 'Isle of Man' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jersey' 'Jordan'
 'Kazakhstan' 'Kenya' 'Kiribati' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos'
 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein'
 'Lithuania' 'Luxembourg' 'Macao' 'Madagascar' 'Malawi' 'Malaysia'
 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Mauritania' 'Mauritius'
 'Mexico' 'Micronesia (country)' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia'
 'Nauru' 'Nepal' 'Netherlands' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'Niue' 'North Korea' 'North Macedonia'
 'Northern Mariana Islands' 'Norway' 'Oman' 'Pakistan' 'Palau' 'Palestine'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Pitcairn'
 'Poland' 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Helena' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Pierre and Miquelon' 'Saint Vincent and the Grenadines' 'Samoa'
 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Seychelles' 'Sierra Leone' 'Singapore' 'Sint Maarten (Dutch part)'
 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname'
 'Sweden' 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan' 'Tanzania'
 'Thailand' 'Timor' 'Togo' 'Tokelau' 'Tonga' 'Trinidad and Tobago'
 'Tunisia' 'Turkey' 'Turkmenistan' 'Turks and Caicos Islands' 'Tuvalu'
 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States' 'United States Virgin Islands' 'Uruguay' 'Uzbekistan'
 'Vanuatu' 'Vatican' 'Venezuela' 'Vietnam' 'Wallis and Futuna'
 'Western Sahara' 'Yemen' 'Zambia' 'Zimbabwe']

## Data Manipulation

There are 2 intended purposes of the prediction models: 
1. Predicting the daily number of new COVID-19 cases per 100,000 people in all included countries/regions.
2. Predicting the daily number of new COVID-19-related deaths per 1,000 people in all included countries/regions.

#### Removing Irrelevant Variables

In [13]:
# Drop all columns related to COVID-19 testing. 
tests_drop = ['total_tests', 'new_tests', 'total_tests_per_thousand', 
             'new_tests_per_thousand', 'new_tests_smoothed', 
             'new_tests_smoothed_per_thousand', 'positive_rate', 
             'tests_per_case', 'tests_units']
no_test_df = df.drop(columns=tests_drop, axis=1)
print(no_test_df.shape)

(187000, 58)

In [14]:
# Drop all columns related to calculated excess_mortality.
mortality_drop = ['excess_mortality', 'excess_mortality_cumulative',
                  'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative_per_million']
no_mortality_df = no_test_df.drop(columns=mortality_drop, axis=1)
print(no_mortality_df.shape)

(187000, 54)

In [15]:
# Drop all columns related to icu reporting. 
icu_drop = ['icu_patients', 'icu_patients_per_million', 'hosp_patients', 
            'hosp_patients_per_million', 'weekly_icu_admissions', 
            'weekly_icu_admissions_per_million', 'weekly_hosp_admissions', 
            'weekly_hosp_admissions_per_million']
no_icu_df = no_mortality_df.drop(columns=icu_drop, axis=1)
print(no_icu_df.shape)

(187000, 46)

In [16]:
# Drop unnecessary general columns. 
general_drop = ['iso_code', 'continent', 'aged_70_older']
general_df = no_icu_df.drop(columns=general_drop, axis=1)
print(general_df.shape)

(187000, 43)

#### Handling Missing Values of Main Features in All Locations

In [17]:
# Check the count of missing values in total_cases in all locations.
general_df.total_cases.isnull().sum()

7608

In [18]:
# Drop missing values from 'total_cases'.
total_cases_general_df = general_df.dropna(subset =["total_cases"], how="all")
print(total_cases_general_df.shape)
print(f" There are {total_cases_general_df['total_cases'].isnull().sum()} missing values in the total cases.")

(179392, 43)
 There are 0 missing values in the total cases.

In [19]:
# Check the count of missing values in new cases 
total_cases_general_df.new_cases.isnull().sum()

281

In [20]:
# Fill null values in new_cases with (0)
cases_general_df = total_cases_general_df.copy()
cases_general_df['new_cases'] = cases_general_df['new_cases'].fillna(0)
print(cases_general_df.shape)
cases_general_df['new_cases'].isnull().sum()

(179392, 43)

0

In [21]:
cases_general_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179392 entries, 0 to 198845
Data columns (total 43 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   location                                    179392 non-null  object
 1   date                                        179392 non-null  object
 2   total_cases                                 179392 non-null  float64
 3   new_cases                                   179392 non-null  float64
 4   new_cases_smoothed                          177999 non-null  float64
 5   total_deaths                                160965 non-null  float64
 6   new_deaths                                  160730 non-null  float64
 7   new_deaths_smoothed                         159637 non-null  float64
 8   total_cases_per_million                     179392 non-null  float64
 9   new_cases_per_million                       179111 non-null  float64
 10  new_cases_smoothed_per_million              177999 non-null  float64
 11  total_deaths_per_million                    160965 non-null  float64
 12  new_deaths_per_million                      160730 non-null  float64
 13  new_deaths_smoothed_per_million             159637 non-null  float64
 14  reproduction_rate                           148217 non-null  float64
 15  total_vaccinations                          47841 non-null   float64
 16  people_vaccinated                           45361 non-null   float64
 17  people_fully_vaccinated                     43064 non-null   float64
 18  total_boosters                              21089 non-null   float64
 19  new_vaccinations                            38300 non-null   float64
 20  new_vaccinations_smoothed                   99483 non-null   float64
 21  total_vaccinations_per_hundred              47841 non-null   float64
 22  people_vaccinated_per_hundred               45361 non-null   float64
 23  people_fully_vaccinated_per_hundred         43064 non-null   float64
 24  total_boosters_per_hundred                  21089 non-null   float64
 25  new_vaccinations_smoothed_per_million       99483 non-null   float64
 26  new_people_vaccinated_smoothed              98792 non-null   float64
 27  new_people_vaccinated_smoothed_per_hundred  98792 non-null   float64
 28  stringency_index                            151052 non-null  float64
 29  population                                  179392 non-null  float64
 30  population_density                          170155 non-null  float64
 31  median_age                                  159118 non-null  float64
 32  aged_65_older                               157388 non-null  float64
 33  gdp_per_capita                              159106 non-null  float64
 34  extreme_poverty                             104851 non-null  float64
 35  cardiovasc_death_rate                       157944 non-null  float64
 36  diabetes_prevalence                         165866 non-null  float64
 37  female_smokers                              121911 non-null  float64
 38  male_smokers                                120214 non-null  float64
 39  handwashing_facilities                      78798 non-null   float64
 40  hospital_beds_per_thousand                  142254 non-null  float64
 41  life_expectancy                             178549 non-null  float64
 42  human_development_index                     157373 non-null  float64
dtypes: float64(41), object(2)
memory usage: 60.2+ MB

In [ ]:
# # Drop rows missing new_cases_smoothed values.
# avg_cases_general_df = cases_general_df.copy()
# avg_cases_general_df = avg_cases_general_df.dropna(subset =["new_cases_smoothed"], how="all")
# print(avg_cases_general_df.shape)
# print(f" There are {avg_cases_general_df['new_cases_smoothed'].isnull().sum()} missing values in the 7-day average of new COVID-19 cases.")

To predict the daily number of new COVID-19 cases, we will focus on processing the following columns and creating new features off of these: (**total_cases, new_cases, total_cases_per_million, new_cases_per_million, reproduction_rate, total_vaccinations, people_fully_vaccinated, total_vaccinations_per_hundred, people_fully_vaccinated_per_hundred, stringency_index, population, population_density, median_age, aged_65_older, gdp_per_capita, cardiovasc_death_rate, diabetes_prevalence, life_expectancy, human_development_index**).

We will not be using smoothed numbers for now, but we will leave these columns in a separate dataframe that contains averages in case we were able to revisit the code and run a more elaborate feature engineering including calculating rolling averages of new vaccines and people_fully_vaccinated. At that point, we could use the cleaned dataframe and handle the missing values of the smoothed columns: (**new_cases_smoothed, new_cases_smoothed_per_million, new_vaccinations_smoothed, new_vaccinations_smoothed_per_million**).

The reason we will leave **female_smokers** and **male_smokers** out of the new_cases prediction features for now is the substantial number of missing values. 
*Reconsider inclusing **female_smokers**, and **male_smokers** in the features for new_cases prediction model if the model needs feature enhancement. The logic behind it is that smokers might be more symptomatic when infected with COVID-19, hence they seek testing and that would increase the documented number of the cases. Same concept applies to the populations' rates of cardiovascular_death and diabetes_prevalence.

We will handle all deaths-related columns (**total_deaths, new_deaths, new_deaths_smoothed, total_deaths_per_million, new_deaths_per_million, new_deaths_smoothed_per_million**), in addition to other outcome columns such as **female_smokers**, **male_smokers**, and **hospital_beds_per_thousand** later in the deaths prediction stage where we will be applying the processing on a deaths DataFrame.

Reproduction Rate: is a way of measuring an infectious disease’s capacity to spread. The R number signifies the average number of people that one infected person will pass the virus to. <br>
In the OWID COVID-19 dataset, the column **reproduction_rate**: represents a real-time estimate of the effective reproduction rate (R) of COVID-19.<br>
We will drop missing values of the reproduction rate since replacing them with zero might skew the data and influence the results. Furthermore, there was no clear pattern that explains why these values were missing from the dataset when it comes to location or total_cases values.

In [28]:
# Check the count of missing values in reproduction rate column.
cases_general_df.reproduction_rate.isnull().sum()

31175

In [29]:
# Drop rows missing reproduction rate values.
r_general_df = cases_general_df.copy()
r_general_df = r_general_df.dropna(subset =["reproduction_rate"], how="all")
print(r_general_df.shape)
print(f" There are {r_general_df['reproduction_rate'].isnull().sum()} missing values in reproduction rate of COVID-19.")

(148217, 43)
 There are 0 missing values in reproduction rate of COVID-19.

In [36]:
# Check the location counts after dropping empty reproduction rate values.
r_general_df.location.nunique()

190

In [27]:
r_general_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148217 entries, 34 to 198843
Data columns (total 43 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   location                                    148217 non-null  object
 1   date                                        148217 non-null  object
 2   total_cases                                 148217 non-null  float64
 3   new_cases                                   148217 non-null  float64
 4   new_cases_smoothed                          148026 non-null  float64
 5   total_deaths                                146068 non-null  float64
 6   new_deaths                                  145872 non-null  float64
 7   new_deaths_smoothed                         145374 non-null  float64
 8   total_cases_per_million                     148217 non-null  float64
 9   new_cases_per_million                       148059 non-null  float64
 10  new_cases_smoothed_per_million              148026 non-null  float64
 11  total_deaths_per_million                    146068 non-null  float64
 12  new_deaths_per_million                      145872 non-null  float64
 13  new_deaths_smoothed_per_million             145374 non-null  float64
 14  reproduction_rate                           148217 non-null  float64
 15  total_vaccinations                          44719 non-null   float64
 16  people_vaccinated                           42311 non-null   float64
 17  people_fully_vaccinated                     40112 non-null   float64
 18  total_boosters                              20024 non-null   float64
 19  new_vaccinations                            36344 non-null   float64
 20  new_vaccinations_smoothed                   89254 non-null   float64
 21  total_vaccinations_per_hundred              44719 non-null   float64
 22  people_vaccinated_per_hundred               42311 non-null   float64
 23  people_fully_vaccinated_per_hundred         40112 non-null   float64
 24  total_boosters_per_hundred                  20024 non-null   float64
 25  new_vaccinations_smoothed_per_million       89254 non-null   float64
 26  new_people_vaccinated_smoothed              88669 non-null   float64
 27  new_people_vaccinated_smoothed_per_hundred  88669 non-null   float64
 28  stringency_index                            137164 non-null  float64
 29  population                                  148217 non-null  float64
 30  population_density                          145828 non-null  float64
 31  median_age                                  143211 non-null  float64
 32  aged_65_older                               141607 non-null  float64
 33  gdp_per_capita                              142728 non-null  float64
 34  extreme_poverty                             98303 non-null   float64
 35  cardiovasc_death_rate                       144585 non-null  float64
 36  diabetes_prevalence                         145790 non-null  float64
 37  female_smokers                              114596 non-null  float64
 38  male_smokers                                112934 non-null  float64
 39  handwashing_facilities                      72548 non-null   float64
 40  hospital_beds_per_thousand                  132104 non-null  float64
 41  life_expectancy                             147394 non-null  float64
 42  human_development_index                     144174 non-null  float64
dtypes: float64(41), object(2)
memory usage: 49.8+ MB

#### Vaccinations Transformation

OWID notes:
- Vaccinations data were updated daily for 218 locations of the original dataset out of 244.
- On 6 January 2021, we added two variables for daily vaccinations to our complete dataset.
- On 26 January 2021, we added 4 variables on people vaccinated and people fully vaccinated to our complete dataset.
- On 11 August 2021, we added the metric total_boosters to our vaccination data. This counts the total number of booster doses (doses administered beyond the number prescribed by the vaccination protocol).
- On 15 November 2021, we added the metrics new_people_vaccinated_smoothed and new_people_vaccinated_smoothed_per_hundred to our vaccination data. They count the daily number of people receiving their first vaccine dose.
- Since 29 March 2022, vaccination data is no longer updated on a daily basis. Updates now are only on weekdays (Monday until Friday).

We will fill the vaccinations nulls with zeros because the absence of vaccines emphasizes certain trends in the pandemic; as such, vaccines initiation is expected to decrease the number of cases and covid-related deaths.

###### We presume that vaccination  has played an integral role in the COVID-19 pandemic trajectory, and its influence may be observed over both COVID-19 cases and deaths.

In [33]:
# Check the date range of vaccinations records
vac_dates = r_general_df[r_general_df.total_vaccinations.notnull()]
vac_dates.date.sort_values()

id_row
134855    2020-12-02
98744     2020-12-04
98747     2020-12-07
47632     2020-12-08
134861    2020-12-08
             ...
63678     2022-07-02
67955     2022-07-02
70514     2022-07-02
83000     2022-07-02
198843    2022-07-02
Name: date, Length: 44719, dtype: object

In [30]:
# Check the count of total_vaccinations records in the whole date range of the current dataset
r_general_df.total_vaccinations.notnull().sum()

44719

**There are 44,679 records of vaccinations from all locations.**

In [31]:
# Check the count of missing values in total_vaccinations column
print(r_general_df.total_vaccinations.isnull().sum())
print(r_general_df.total_vaccinations_per_hundred.isnull().sum())

103498
103498

In [34]:
# Fill null values in total_vaccinations and total_vaccinations_per_hundred with (0)
total_vac_general_df = r_general_df.copy()
total_vac_general_df['total_vaccinations'] = total_vac_general_df['total_vaccinations'].fillna(0)
total_vac_general_df['total_vaccinations_per_hundred'] = total_vac_general_df['total_vaccinations_per_hundred'].fillna(0)
print(total_vac_general_df.shape)
total_vac_general_df[['total_vaccinations', 'total_vaccinations_per_hundred']].isnull().sum()

(148217, 43)

total_vaccinations                0
total_vaccinations_per_hundred    0
dtype: int64

In [37]:
# Check the count of missing values in people_fully_vaccinated column
print(total_vac_general_df.people_fully_vaccinated.isnull().sum())
print(total_vac_general_df.people_fully_vaccinated_per_hundred.isnull().sum())

108105
108105

In [38]:
# Fill null values in people_fully_vaccinated and people_fully_vaccinated_per_hundred with (0)
ppl_vac_general_df = total_vac_general_df.copy()
ppl_vac_general_df['people_fully_vaccinated'] = ppl_vac_general_df['people_fully_vaccinated'].fillna(0)
ppl_vac_general_df['people_fully_vaccinated_per_hundred'] = ppl_vac_general_df['people_fully_vaccinated_per_hundred'].fillna(0)
print(ppl_vac_general_df.shape)
ppl_vac_general_df[['people_fully_vaccinated', 'people_fully_vaccinated_per_hundred']].isnull().sum()

(148217, 43)

people_fully_vaccinated                0
people_fully_vaccinated_per_hundred    0
dtype: int64

In [39]:
# Convert the 'date' column to a datetime.
ppl_vac_general_df['date'] = ppl_vac_general_df['date'].apply(pd.to_datetime)
print(ppl_vac_general_df.date.dtype)

datetime64[ns]

In [41]:
ppl_vac_general_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148217 entries, 34 to 198843
Data columns (total 43 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   location                                    148217 non-null  object
 1   date                                        148217 non-null  datetime64[ns]
 2   total_cases                                 148217 non-null  float64
 3   new_cases                                   148217 non-null  float64
 4   new_cases_smoothed                          148026 non-null  float64
 5   total_deaths                                146068 non-null  float64
 6   new_deaths                                  145872 non-null  float64
 7   new_deaths_smoothed                         145374 non-null  float64
 8   total_cases_per_million                     148217 non-null  float64
 9   new_cases_per_million                       148059 non-null  float64
 10  new_cases_smoothed_per_million              148026 non-null  float64
 11  total_deaths_per_million                    146068 non-null  float64
 12  new_deaths_per_million                      145872 non-null  float64
 13  new_deaths_smoothed_per_million             145374 non-null  float64
 14  reproduction_rate                           148217 non-null  float64
 15  total_vaccinations                          148217 non-null  float64
 16  people_vaccinated                           42311 non-null   float64
 17  people_fully_vaccinated                     148217 non-null  float64
 18  total_boosters                              20024 non-null   float64
 19  new_vaccinations                            36344 non-null   float64
 20  new_vaccinations_smoothed                   89254 non-null   float64
 21  total_vaccinations_per_hundred              148217 non-null  float64
 22  people_vaccinated_per_hundred               42311 non-null   float64
 23  people_fully_vaccinated_per_hundred         148217 non-null  float64
 24  total_boosters_per_hundred                  20024 non-null   float64
 25  new_vaccinations_smoothed_per_million       89254 non-null   float64
 26  new_people_vaccinated_smoothed              88669 non-null   float64
 27  new_people_vaccinated_smoothed_per_hundred  88669 non-null   float64
 28  stringency_index                            137164 non-null  float64
 29  population                                  148217 non-null  float64
 30  population_density                          145828 non-null  float64
 31  median_age                                  143211 non-null  float64
 32  aged_65_older                               141607 non-null  float64
 33  gdp_per_capita                              142728 non-null  float64
 34  extreme_poverty                             98303 non-null   float64
 35  cardiovasc_death_rate                       144585 non-null  float64
 36  diabetes_prevalence                         145790 non-null  float64
 37  female_smokers                              114596 non-null  float64
 38  male_smokers                                112934 non-null  float64
 39  handwashing_facilities                      72548 non-null   float64
 40  hospital_beds_per_thousand                  132104 non-null  float64
 41  life_expectancy                             147394 non-null  float64
 42  human_development_index                     144174 non-null  float64
dtypes: datetime64[ns](1), float64(41), object(1)
memory usage: 49.8+ MB

In [40]:
# Create a DataFrame before March 29, 2022
mar_general_df = ppl_vac_general_df.copy()
mar_general_df = mar_general_df.loc[mar_general_df['date'] < '2022-03-29']
print(mar_general_df.shape)
mar_general_df.head()

(129977, 43)

,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
id_row,,,,,,,,,,,,,,,,,,,,,
34,Afghanistan,2020-03-29,114.0,8.0,11.429,4.0,2.0,0.571,2.862,0.201,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
35,Afghanistan,2020-03-30,114.0,0.0,10.571,4.0,0.0,0.429,2.862,0.000,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
36,Afghanistan,2020-03-31,166.0,52.0,17.714,4.0,0.0,0.429,4.167,1.305,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
37,Afghanistan,2020-04-01,192.0,26.0,16.857,4.0,0.0,0.429,4.820,0.653,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
38,Afghanistan,2020-04-02,235.0,43.0,22.143,4.0,0.0,0.286,5.899,1.079,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [42]:
mar_general_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129977 entries, 34 to 198747
Data columns (total 43 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   location                                    129977 non-null  object
 1   date                                        129977 non-null  datetime64[ns]
 2   total_cases                                 129977 non-null  float64
 3   new_cases                                   129977 non-null  float64
 4   new_cases_smoothed                          129859 non-null  float64
 5   total_deaths                                127831 non-null  float64
 6   new_deaths                                  127695 non-null  float64
 7   new_deaths_smoothed                         127208 non-null  float64
 8   total_cases_per_million                     129977 non-null  float64
 9   new_cases_per_million                       129889 non-null  float64
 10  new_cases_smoothed_per_million              129859 non-null  float64
 11  total_deaths_per_million                    127831 non-null  float64
 12  new_deaths_per_million                      127695 non-null  float64
 13  new_deaths_smoothed_per_million             127208 non-null  float64
 14  reproduction_rate                           129977 non-null  float64
 15  total_vaccinations                          129977 non-null  float64
 16  people_vaccinated                           36291 non-null   float64
 17  people_fully_vaccinated                     129977 non-null  float64
 18  total_boosters                              14384 non-null   float64
 19  new_vaccinations                            31360 non-null   float64
 20  new_vaccinations_smoothed                   73568 non-null   float64
 21  total_vaccinations_per_hundred              129977 non-null  float64
 22  people_vaccinated_per_hundred               36291 non-null   float64
 23  people_fully_vaccinated_per_hundred         129977 non-null  float64
 24  total_boosters_per_hundred                  14384 non-null   float64
 25  new_vaccinations_smoothed_per_million       73568 non-null   float64
 26  new_people_vaccinated_smoothed              72954 non-null   float64
 27  new_people_vaccinated_smoothed_per_hundred  72954 non-null   float64
 28  stringency_index                            122035 non-null  float64
 29  population                                  129977 non-null  float64
 30  population_density                          127876 non-null  float64
 31  median_age                                  125739 non-null  float64
 32  aged_65_older                               124327 non-null  float64
 33  gdp_per_capita                              125160 non-null  float64
 34  extreme_poverty                             86495 non-null   float64
 35  cardiovasc_death_rate                       126921 non-null  float64
 36  diabetes_prevalence                         127838 non-null  float64
 37  female_smokers                              100676 non-null  float64
 38  male_smokers                                99206 non-null   float64
 39  handwashing_facilities                      63620 non-null   float64
 40  hospital_beds_per_thousand                  115976 non-null  float64
 41  life_expectancy                             129250 non-null  float64
 42  human_development_index                     126414 non-null  float64
dtypes: datetime64[ns](1), float64(41), object(1)
memory usage: 43.6+ MB

In [43]:
vac_drop = ['people_vaccinated', 'total_boosters', 'new_vaccinations', 
            'new_vaccinations_smoothed', 'people_vaccinated_per_hundred', 
            'total_boosters_per_hundred', 'new_vaccinations_smoothed_per_million',
           'new_people_vaccinated_smoothed', 'new_people_vaccinated_smoothed_per_hundred']
vac_general_df = mar_general_df.drop(columns=vac_drop, axis=1)
print(vac_general_df.shape)

(129977, 34)

**stringency_index**: Government Response Stringency Index is a composite measure based on 9 response indicators including school closures, workplace closures, and travel bans, rescaled to a value from 0 to 100 (100 = strictest response)

In [45]:
# Check the count of missing values in the stringency_index column
vac_general_df.stringency_index.isnull().sum()

7942

In [47]:
# Fill null values in stringency_index with (0)
str_general_df = vac_general_df.copy()
str_general_df['stringency_index'] = str_general_df['stringency_index'].fillna(0)
print(str_general_df.shape)
str_general_df['stringency_index'].isnull().sum()

(129977, 34)

0

**population_density**: Number of people divided by land area, measured in square kilometers, most recent year available.

In [48]:
# Check the count of missing values in the population_density column
str_general_df.population_density.isnull().sum()

2101

In [49]:
# Drop rows missing population density values.
pop_general_df = str_general_df.copy()
pop_general_df = pop_general_df.dropna(subset =["population_density"], how="all")
print(pop_general_df.shape)
print(f" There are {pop_general_df['population_density'].isnull().sum()} missing values in population_density of COVID-19 dataset.")

(127876, 34)
 There are 0 missing values in population_density of COVID-19 dataset.

In [50]:
pop_general_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 127876 entries, 34 to 198747
Data columns (total 34 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   location                             127876 non-null  object
 1   date                                 127876 non-null  datetime64[ns]
 2   total_cases                          127876 non-null  float64
 3   new_cases                            127876 non-null  float64
 4   new_cases_smoothed                   127760 non-null  float64
 5   total_deaths                         125736 non-null  float64
 6   new_deaths                           125600 non-null  float64
 7   new_deaths_smoothed                  125118 non-null  float64
 8   total_cases_per_million              127876 non-null  float64
 9   new_cases_per_million                127790 non-null  float64
 10  new_cases_smoothed_per_million       127760 non-null  float64
 11  total_deaths_per_million             125736 non-null  float64
 12  new_deaths_per_million               125600 non-null  float64
 13  new_deaths_smoothed_per_million      125118 non-null  float64
 14  reproduction_rate                    127876 non-null  float64
 15  total_vaccinations                   127876 non-null  float64
 16  people_fully_vaccinated              127876 non-null  float64
 17  total_vaccinations_per_hundred       127876 non-null  float64
 18  people_fully_vaccinated_per_hundred  127876 non-null  float64
 19  stringency_index                     127876 non-null  float64
 20  population                           127876 non-null  float64
 21  population_density                   127876 non-null  float64
 22  median_age                           123638 non-null  float64
 23  aged_65_older                        123638 non-null  float64
 24  gdp_per_capita                       124471 non-null  float64
 25  extreme_poverty                      86495 non-null   float64
 26  cardiovasc_death_rate                124820 non-null  float64
 27  diabetes_prevalence                  127149 non-null  float64
 28  female_smokers                       100676 non-null  float64
 29  male_smokers                         99206 non-null   float64
 30  handwashing_facilities               62948 non-null   float64
 31  hospital_beds_per_thousand           115304 non-null  float64
 32  life_expectancy                      127149 non-null  float64
 33  human_development_index              125053 non-null  float64
dtypes: datetime64[ns](1), float64(32), object(1)
memory usage: 34.1+ MB

In [51]:
# Check the count of missing values in median_age
pop_general_df.median_age.isnull().sum()

4238

In [52]:
# Drop rows missing median age values.
med_age_general_df = pop_general_df.copy()
med_age_general_df = med_age_general_df.dropna(subset =["median_age"], how="all")
print(med_age_general_df.shape)
print(f" There are {med_age_general_df['median_age'].isnull().sum()} missing values in median_age of COVID-19 dataset.")

(123638, 34)
 There are 0 missing values in median_age of COVID-19 dataset.

In [53]:
# Check the count of missing values in aged_65_older 
med_age_general_df.isnull().sum()

location                                   0
date                                       0
total_cases                                0
new_cases                                  0
new_cases_smoothed                       114
total_deaths                            1885
new_deaths                              2019
new_deaths_smoothed                     2482
total_cases_per_million                    0
new_cases_per_million                     84
new_cases_smoothed_per_million           114
total_deaths_per_million                1885
new_deaths_per_million                  2019
new_deaths_smoothed_per_million         2482
reproduction_rate                          0
total_vaccinations                         0
people_fully_vaccinated                    0
total_vaccinations_per_hundred             0
people_fully_vaccinated_per_hundred        0
stringency_index                           0
population                                 0
population_density                         0
median_age                                 0
aged_65_older                              0
gdp_per_capita                          1440
extreme_poverty                        37870
cardiovasc_death_rate                      0
diabetes_prevalence                        0
female_smokers                         23768
male_smokers                           25238
handwashing_facilities                 60690
hospital_beds_per_thousand             11109
life_expectancy                            0
human_development_index                  710
dtype: int64

In [ ]:
# # Drop rows missing aged 65 older values.
# older_general_df = med_age_general_df.copy()
# older_general_df = older_general_df.dropna(subset =["aged_65_older"], how="all")
# print(older_general_df.shape)
# print(f" There are {older_general_df['aged_65_older'].isnull().sum()} missing values in aged_65_older of COVID-19 dataset.")

In [55]:
# Drop rows missing gdp_per_capita values.
gdp_general_df = med_age_general_df.copy()
gdp_general_df = gdp_general_df.dropna(subset =["gdp_per_capita"], how="all")
print(gdp_general_df.shape)
print(f" There are {gdp_general_df['gdp_per_capita'].isnull().sum()} missing values in gdp_per_capita of COVID-19 dataset.")

(122198, 34)
 There are 0 missing values in gdp_per_capita of COVID-19 dataset.

In [65]:
gdp_general_df.isnull().sum()

location                                   0
date                                       0
total_cases                                0
new_cases                                  0
new_cases_smoothed                       114
total_deaths                            1885
new_deaths                              2017
new_deaths_smoothed                     2480
total_cases_per_million                    0
new_cases_per_million                     84
new_cases_smoothed_per_million           114
total_deaths_per_million                1885
new_deaths_per_million                  2017
new_deaths_smoothed_per_million         2480
reproduction_rate                          0
total_vaccinations                         0
people_fully_vaccinated                    0
total_vaccinations_per_hundred             0
people_fully_vaccinated_per_hundred        0
stringency_index                           0
population                                 0
population_density                         0
median_age                                 0
aged_65_older                              0
gdp_per_capita                             0
extreme_poverty                        36430
cardiovasc_death_rate                      0
diabetes_prevalence                        0
female_smokers                         23058
male_smokers                           24528
handwashing_facilities                 60690
hospital_beds_per_thousand             11109
life_expectancy                            0
human_development_index                    0
dtype: int64

In [57]:
#Drop column extreme_poverty
no_poverty_general_df = gdp_general_df.copy()
no_poverty_general_df = no_poverty_general_df.drop(columns=["extreme_poverty"], axis=1)
print(no_poverty_general_df.shape)

(122198, 33)

In [64]:
no_poverty_general_df.isnull().sum()

location                                   0
date                                       0
total_cases                                0
new_cases                                  0
new_cases_smoothed                       114
total_deaths                            1885
new_deaths                              2017
new_deaths_smoothed                     2480
total_cases_per_million                    0
new_cases_per_million                     84
new_cases_smoothed_per_million           114
total_deaths_per_million                1885
new_deaths_per_million                  2017
new_deaths_smoothed_per_million         2480
reproduction_rate                          0
total_vaccinations                         0
people_fully_vaccinated                    0
total_vaccinations_per_hundred             0
people_fully_vaccinated_per_hundred        0
stringency_index                           0
population                                 0
population_density                         0
median_age                                 0
aged_65_older                              0
gdp_per_capita                             0
cardiovasc_death_rate                      0
diabetes_prevalence                        0
female_smokers                         23058
male_smokers                           24528
handwashing_facilities                 60690
hospital_beds_per_thousand             11109
life_expectancy                            0
human_development_index                    0
dtype: int64

In [59]:
# Drop column handwashing_facilities ( we lose more data than plausible) instead of filling with zeros becuase it will skew the data
# The public health status of the location should be reflected in other columns that we retained
hand_general_df = no_poverty_general_df.copy()
hand_general_df = hand_general_df.drop(columns=["handwashing_facilities"], axis=1)
print(hand_general_df.shape)

(122198, 32)

In [ ]:
# # Drop rows missing life_expectancy values.
# life_exp_general_df = hand_general_df.copy()
# # life_exp_general_df = life_exp_general_df.dropna(subset =["life_expectancy"], how="all")
# print(life_exp_general_df.shape)
# print(f" There are {life_exp_general_df['life_expectancy'].isnull().sum()} missing values in life_expectancy of COVID-19 dataset.")

In [63]:
hand_general_df.isnull().sum()

location                                   0
date                                       0
total_cases                                0
new_cases                                  0
new_cases_smoothed                       114
total_deaths                            1885
new_deaths                              2017
new_deaths_smoothed                     2480
total_cases_per_million                    0
new_cases_per_million                     84
new_cases_smoothed_per_million           114
total_deaths_per_million                1885
new_deaths_per_million                  2017
new_deaths_smoothed_per_million         2480
reproduction_rate                          0
total_vaccinations                         0
people_fully_vaccinated                    0
total_vaccinations_per_hundred             0
people_fully_vaccinated_per_hundred        0
stringency_index                           0
population                                 0
population_density                         0
median_age                                 0
aged_65_older                              0
gdp_per_capita                             0
cardiovasc_death_rate                      0
diabetes_prevalence                        0
female_smokers                         23058
male_smokers                           24528
hospital_beds_per_thousand             11109
life_expectancy                            0
human_development_index                    0
dtype: int64

In [62]:
# # Drop rows missing human_development_index values.
# hum_dev_general_df = hand_general_df.copy()
# hum_dev_general_df = hum_dev_general_df.dropna(subset =["human_development_index"], how="all")
# print(hum_dev_general_df.shape)
# print(f" There are {hum_dev_general_df['human_development_index'].isnull().sum()} missing values in human_development_index of COVID-19 dataset.")

(122198, 32)
 There are 0 missing values in human_development_index of COVID-19 dataset.

In [67]:
hum_dev_general_df = hand_general_df.copy()
hum_dev_general_df.shape

(122198, 32)

## Feature Engineering

1. Replace the date column with covid_days that counts the number of days into the pandemic.
2. Create a new column to calculate daily difference in total_vaccinations.
3. Create a new column to calculate daily difference in people_fully_vaccinated.
4. Normalize: 
    - total_cases_per_100K
    - new_cases_per_100K
    - total_vaccinations_per_100K
    - people_fully_vaccinated_per_100K
    - daily_vaccines_per_100K
    - daily_people_fully_vaccinated_per_100K

#### Create covid_days

The date of reporting carries a significant importance in the dataset, because it conveys the state of the COVID-19 pandemic in each location in comparison to other locations at the same timescale of the health crisis. It may also highlight chronoligcal relations between other variables in the dataset.

The first announcement of COVID-19 infections was on December 31, 2019. <br>
The World Health Organization China Country Office is informed of a number cases of pneumonia of unknown etiology (unknown cause) detected in Wuhan, Hubei Province.

The OWID COVID-19 data entry started on January 1st, 2020 and has been daily updated till July 4th, 2022 when we pulled the dataset from the [OWID/COVID-19-data GitHub Repository](https://github.com/owid/covid-19-data/tree/master/public/data).

Although COVID-19 infection did not appear in all locations of the world at the same time, it is important to compare the pandemic statue across locations at the same timescale. <br>

We will calculate the days passed between the first reporting of COVID-19 in the dataset, which is January 1st, 2020 and the date of the each record for each location.

In [68]:
# Check the earliest and latest date in the dataset. 
hum_dev_general_df["date"].sort_values()

id_row
36732    2020-01-23
36733    2020-01-24
36734    2020-01-25
36735    2020-01-26
36736    2020-01-27
            ...
173172   2022-03-28
68702    2022-03-28
70418    2022-03-28
57451    2022-03-28
198747   2022-03-28
Name: date, Length: 122198, dtype: datetime64[ns]

In [69]:
# Create a new column for days of COVID-19 and calculate its value from Jan 1, 2020.
date_to_convert = '2020-01-01'
start_date = pd.to_datetime(date_to_convert, exact=True)
hum_dev_general_df['covid_days'] = (hum_dev_general_df['date'] - start_date).dt.days
print(hum_dev_general_df.shape)
hum_dev_general_df.head(10)

(122198, 33)

,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,...,aged_65_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index,covid_days
id_row,,,,,,,,,,,,,,,,,,,,,
34,Afghanistan,2020-03-29,114.0,8.0,11.429,4.0,2.0,0.571,2.862,0.201,...,2.581,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.511,88
35,Afghanistan,2020-03-30,114.0,0.0,10.571,4.0,0.0,0.429,2.862,0.000,...,2.581,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.511,89
36,Afghanistan,2020-03-31,166.0,52.0,17.714,4.0,0.0,0.429,4.167,1.305,...,2.581,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.511,90
37,Afghanistan,2020-04-01,192.0,26.0,16.857,4.0,0.0,0.429,4.820,0.653,...,2.581,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.511,91
38,Afghanistan,2020-04-02,235.0,43.0,22.143,4.0,0.0,0.286,5.899,1.079,...,2.581,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.511,92
39,Afghanistan,2020-04-03,269.0,34.0,25.429,5.0,1.0,0.429,6.753,0.854,...,2.581,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.511,93
40,Afghanistan,2020-04-04,270.0,1.0,23.429,5.0,0.0,0.429,6.778,0.025,...,2.581,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.511,94
41,Afghanistan,2020-04-05,299.0,29.0,26.429,7.0,2.0,0.429,7.506,0.728,...,2.581,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.511,95
42,Afghanistan,2020-04-06,337.0,38.0,31.857,7.0,0.0,0.429,8.460,0.954,...,2.581,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.511,96
43,Afghanistan,2020-04-07,367.0,30.0,28.714,11.0,4.0,1.000,9.213,0.753,...,2.581,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.511,97

In [70]:
# Check the datatype of the new column to be an integer.
print(hum_dev_general_df.covid_days.dtype)

int64

In [71]:
# Swap the covid_days and date columns in a new DataFrame
days_general_df = hum_dev_general_df.copy()
cols = list(days_general_df.columns)
a, b = cols.index('date'), cols.index('covid_days')
cols[b], cols[a] = cols[a], cols[b]
days_general_df = days_general_df[cols].drop(columns=['date'], axis=1)
print(days_general_df.shape)
days_general_df.sample(5)

(122198, 32)

,location,covid_days,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,...,median_age,aged_65_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index
id_row,,,,,,,,,,,,,,,,,,,,,
89721,Italy,725,5647313.0,24882.0,36879.714,136611.0,81.0,138.571,93548.941,412.176,...,47.9,23.021,35220.084,113.151,4.78,19.8,27.8,3.18,83.51,0.892
50328,Dominican Republic,508,283729.0,1044.0,934.429,3606.0,0.0,3.429,25902.539,95.310,...,27.6,6.981,14600.861,266.653,8.20,8.5,19.1,1.60,74.08,0.756
137604,Pakistan,470,745182.0,5364.0,4907.571,15982.0,110.0,107.571,3308.980,23.819,...,23.5,4.495,5034.708,423.031,8.35,2.8,36.7,0.60,67.27,0.557
184494,Uganda,688,127128.0,55.0,42.143,3256.0,9.0,2.857,2697.760,1.167,...,16.4,2.168,1697.707,213.333,2.50,3.4,16.7,0.50,63.37,0.544
106379,Luxembourg,321,27681.0,425.0,567.286,240.0,4.0,6.000,43604.898,669.487,...,39.7,14.312,94277.965,128.275,4.42,20.9,26.0,4.51,82.25,0.916

In [72]:
days_general_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122198 entries, 34 to 198747
Data columns (total 32 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   location                             122198 non-null  object
 1   covid_days                           122198 non-null  int64
 2   total_cases                          122198 non-null  float64
 3   new_cases                            122198 non-null  float64
 4   new_cases_smoothed                   122084 non-null  float64
 5   total_deaths                         120313 non-null  float64
 6   new_deaths                           120181 non-null  float64
 7   new_deaths_smoothed                  119718 non-null  float64
 8   total_cases_per_million              122198 non-null  float64
 9   new_cases_per_million                122114 non-null  float64
 10  new_cases_smoothed_per_million       122084 non-null  float64
 11  total_deaths_per_million             120313 non-null  float64
 12  new_deaths_per_million               120181 non-null  float64
 13  new_deaths_smoothed_per_million      119718 non-null  float64
 14  reproduction_rate                    122198 non-null  float64
 15  total_vaccinations                   122198 non-null  float64
 16  people_fully_vaccinated              122198 non-null  float64
 17  total_vaccinations_per_hundred       122198 non-null  float64
 18  people_fully_vaccinated_per_hundred  122198 non-null  float64
 19  stringency_index                     122198 non-null  float64
 20  population                           122198 non-null  float64
 21  population_density                   122198 non-null  float64
 22  median_age                           122198 non-null  float64
 23  aged_65_older                        122198 non-null  float64
 24  gdp_per_capita                       122198 non-null  float64
 25  cardiovasc_death_rate                122198 non-null  float64
 26  diabetes_prevalence                  122198 non-null  float64
 27  female_smokers                       99140 non-null   float64
 28  male_smokers                         97670 non-null   float64
 29  hospital_beds_per_thousand           111089 non-null  float64
 30  life_expectancy                      122198 non-null  float64
 31  human_development_index              122198 non-null  float64
dtypes: float64(30), int64(1), object(1)
memory usage: 30.8+ MB

#### Create Daily Vaccinations

In [73]:
# Create a new column to calculate the daily difference in total vaccinations 
daily_vac_general_df = days_general_df.copy()
daily_vac_general_df['daily_vaccinations'] = daily_vac_general_df.groupby(['location'])['total_vaccinations'].diff()
daily_vac_general_df.head()

,location,covid_days,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,...,aged_65_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index,daily_vaccinations
id_row,,,,,,,,,,,,,,,,,,,,,
34,Afghanistan,88,114.0,8.0,11.429,4.0,2.0,0.571,2.862,0.201,...,2.581,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.511,NaN
35,Afghanistan,89,114.0,0.0,10.571,4.0,0.0,0.429,2.862,0.000,...,2.581,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.511,0.0
36,Afghanistan,90,166.0,52.0,17.714,4.0,0.0,0.429,4.167,1.305,...,2.581,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.511,0.0
37,Afghanistan,91,192.0,26.0,16.857,4.0,0.0,0.429,4.820,0.653,...,2.581,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.511,0.0
38,Afghanistan,92,235.0,43.0,22.143,4.0,0.0,0.286,5.899,1.079,...,2.581,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.511,0.0

In [74]:
# Confirm calculations
check10_df = daily_vac_general_df[['location', 'total_vaccinations', 'daily_vaccinations']]
check10_df.head()

           location  total_vaccinations  daily_vaccinations
id_row
34      Afghanistan                 0.0                 NaN
35      Afghanistan                 0.0                 0.0
36      Afghanistan                 0.0                 0.0
37      Afghanistan                 0.0                 0.0
38      Afghanistan                 0.0                 0.0

In [77]:
# Confirm daily_vaccines calculations are grouped by location. 
locations = ['Zambia','Zimbabwe']
zim = check10_df.loc[check10_df.location.isin(locations)]
zim.location.value_counts()

Zambia      697
Zimbabwe    670
Name: location, dtype: int64

In [79]:
zim.index[[zim.location.isin(['Zambia']) == True]].tolist()

[197214,
 197215,
 197216,
 197217,
 197218,
 197219,
 197220,
 197221,
 197222,
 197223,
 197224,
 197225,
 197226,
 197227,
 197228,
 197229,
 197230,
 197231,
 197232,
 197233,
 197234,
 197235,
 197236,
 197237,
 197238,
 197239,
 197240,
 197241,
 197242,
 197243,
 197244,
 197245,
 197246,
 197247,
 197248,
 197249,
 197250,
 197251,
 197252,
 197253,
 197254,
 197255,
 197256,
 197257,
 197258,
 197259,
 197260,
 197261,
 197262,
 197263,
 197264,
 197265,
 197266,
 197267,
 197268,
 197269,
 197270,
 197271,
 197272,
 197273,
 197274,
 197275,
 197276,
 197277,
 197278,
 197279,
 197280,
 197281,
 197282,
 197283,
 197284,
 197285,
 197286,
 197287,
 197288,
 197289,
 197290,
 197291,
 197292,
 197293,
 197294,
 197295,
 197296,
 197297,
 197298,
 197299,
 197300,
 197301,
 197302,
 197303,
 197304,
 197305,
 197306,
 197307,
 197308,
 197309,
 197310,
 197311,
 197312,
 197313,
 197314,
 197315,
 197316,
 197317,
 197318,
 197319,
 197320,
 197321,
 197322,
 197323,
 197324,
 197325,
 197326,
 197327,
 197328,
 197329,
 197330,
 197331,
 197332,
 197333,
 197334,
 197335,
 197336,
 197337,
 197338,
 197339,
 197340,
 197341,
 197342,
 197343,
 197344,
 197345,
 197346,
 197347,
 197348,
 197349,
 197350,
 197351,
 197352,
 197353,
 197354,
 197355,
 197356,
 197357,
 197358,
 197359,
 197360,
 197361,
 197362,
 197363,
 197364,
 197365,
 197366,
 197367,
 197368,
 197369,
 197370,
 197371,
 197372,
 197373,
 197374,
 197375,
 197376,
 197377,
 197378,
 197379,
 197380,
 197381,
 197382,
 197383,
 197384,
 197385,
 197386,
 197387,
 197388,
 197389,
 197390,
 197391,
 197392,
 197393,
 197394,
 197395,
 197396,
 197397,
 197398,
 197399,
 197400,
 197401,
 197402,
 197403,
 197404,
 197405,
 197406,
 197407,
 197408,
 197409,
 197410,
 197411,
 197412,
 197413,
 197414,
 197415,
 197416,
 197417,
 197418,
 197419,
 197420,
 197421,
 197422,
 197423,
 197424,
 197425,
 197426,
 197427,
 197428,
 197429,
 197430,
 197431,
 197432,
 197433,
 197434,
 197435,
 197436,
 197437,
 197438,
 197439,
 197440,
 197441,
 197442,
 197443,
 197444,
 197445,
 197446,
 197447,
 197448,
 197449,
 197450,
 197451,
 197452,
 197453,
 197454,
 197455,
 197456,
 197457,
 197458,
 197459,
 197460,
 197461,
 197462,
 197463,
 197464,
 197465,
 197466,
 197467,
 197468,
 197469,
 197470,
 197471,
 197472,
 197473,
 197474,
 197475,
 197476,
 197477,
 197478,
 197479,
 197480,
 197481,
 197482,
 197483,
 197484,
 197485,
 197486,
 197487,
 197488,
 197489,
 197490,
 197491,
 197492,
 197493,
 197494,
 197495,
 197496,
 197497,
 197498,
 197499,
 197500,
 197501,
 197502,
 197503,
 197504,
 197505,
 197506,
 197507,
 197508,
 197509,
 197510,
 197511,
 197512,
 197513,
 197514,
 197515,
 197516,
 197517,
 197518,
 197519,
 197520,
 197521,
 197522,
 197523,
 197524,
 197525,
 197526,
 197527,
 197528,
 197529,
 197530,
 197531,
 197532,
 197533,
 197534,
 197535,
 197536,
 197537,
 197538,
 197539,
 197540,
 197541,
 197542,
 197543,
 197544,
 197545,
 197546,
 197547,
 197548,
 197549,
 197550,
 197551,
 197552,
 197553,
 197554,
 197555,
 197556,
 197557,
 197558,
 197559,
 197560,
 197561,
 197562,
 197563,
 197564,
 197565,
 197566,
 197567,
 197568,
 197569,
 197570,
 197571,
 197572,
 197573,
 197574,
 197575,
 197576,
 197577,
 197578,
 197579,
 197580,
 197581,
 197582,
 197583,
 197584,
 197585,
 197586,
 197587,
 197588,
 197589,
 197590,
 197591,
 197592,
 197593,
 197594,
 197595,
 197596,
 197597,
 197598,
 197599,
 197600,
 197601,
 197602,
 197603,
 197604,
 197605,
 197606,
 197607,
 197608,
 197609,
 197610,
 197611,
 197612,
 197613,
 197614,
 197615,
 197616,
 197617,
 197618,
 197619,
 197620,
 197621,
 197622,
 197623,
 197624,
 197625,
 197626,
 197627,
 197628,
 197629,
 197630,
 197631,
 197632,
 197633,
 197634,
 197635,
 197636,
 197637,
 197638,
 197639,
 197640,
 197641,
 197642,
 197643,
 197644,
 197645,
 197646,
 197647,
 197648,
 197649,
 197650,
 197651,
 197652,
 197653,
 197654,
 197655,
 197656,
 197657,
 197658,
 197659,
 197660,
 197661,
 197662,
 197663,
 197664,
 197665,
 197666,
 197667,
 197668,
 197669,
 197670,
 197671,
 197672,
 197673,
 197674,
 197675,
 197676,
 197677,
 197678,
 197679,
 197680,
 197681,
 197682,
 197683,
 197684,
 197685,
 197686,
 197687,
 197688,
 197689,
 197690,
 197691,
 197692,
 197693,
 197694,
 197695,
 197696,
 197697,
 197698,
 197699,
 197700,
 197701,
 197702,
 197703,
 197704,
 197705,
 197706,
 197707,
 197708,
 197709,
 197710,
 197711,
 197712,
 197713,
 197714,
 197715,
 197716,
 197717,
 197718,
 197719,
 197720,
 197721,
 197722,
 197723,
 197724,
 197725,
 197726,
 197727,
 197728,
 197729,
 197730,
 197731,
 197732,
 197733,
 197734,
 197735,
 197736,
 197737,
 197738,
 197739,
 197740,
 197741,
 197742,
 197743,
 197744,
 197745,
 197746,
 197747,
 197748,
 197749,
 197750,
 197751,
 197752,
 197753,
 197754,
 197755,
 197756,
 197757,
 197758,
 197759,
 197760,
 197761,
 197762,
 197763,
 197764,
 197765,
 197766,
 197767,
 197768,
 197769,
 197770,
 197771,
 197772,
 197773,
 197774,
 197775,
 197776,
 197777,
 197778,
 197779,
 197780,
 197781,
 197782,
 197783,
 197784,
 197785,
 197786,
 197787,
 197788,
 197789,
 197790,
 197791,
 197792,
 197793,
 197794,
 197795,
 197796,
 197797,
 197798,
 197799,
 197800,
 197801,
 197802,
 197803,
 197804,
 197805,
 197806,
 197807,
 197808,
 197809,
 197810,
 197811,
 197812,
 197813,
 197814,
 197815,
 197816,
 197817,
 197818,
 197819,
 197820,
 197821,
 197822,
 197823,
 197824,
 197825,
 197826,
 197827,
 197828,
 197829,
 197830,
 197831,
 197832,
 197833,
 197834,
 197835,
 197836,
 197837,
 197838,
 197839,
 197840,
 197841,
 197842,
 197843,
 197844,
 197845,
 197846,
 197847,
 197848,
 197849,
 197850,
 197851,
 197852,
 197853,
 197854,
 197855,
 197856,
 197857,
 197858,
 197859,
 197860,
 197861,
 197862,
 197863,
 197864,
 197865,
 197866,
 197867,
 197868,
 197869,
 197870,
 197871,
 197872,
 197873,
 197874,
 197875,
 197876,
 197877,
 197878,
 197879,
 197880,
 197881,
 197882,
 197883,
 197884,
 197885,
 197886,
 197887,
 197888,
 197889,
 197890,
 197891,
 197892,
 197893,
 197894,
 197895,
 197896,
 197897,
 197898,
 197899,
 197900,
 197901,
 197902,
 197903,
 197904,
 197905,
 197906,
 197907,
 197908,
 197909,
 197910]

In [80]:
zim.index[[zim.location.isin(['Zimbabwe']) == True]].tolist()

[198078,
 198079,
 198080,
 198081,
 198082,
 198083,
 198084,
 198085,
 198086,
 198087,
 198088,
 198089,
 198090,
 198091,
 198092,
 198093,
 198094,
 198095,
 198096,
 198097,
 198098,
 198099,
 198100,
 198101,
 198102,
 198103,
 198104,
 198105,
 198106,
 198107,
 198108,
 198109,
 198110,
 198111,
 198112,
 198113,
 198114,
 198115,
 198116,
 198117,
 198118,
 198119,
 198120,
 198121,
 198122,
 198123,
 198124,
 198125,
 198126,
 198127,
 198128,
 198129,
 198130,
 198131,
 198132,
 198133,
 198134,
 198135,
 198136,
 198137,
 198138,
 198139,
 198140,
 198141,
 198142,
 198143,
 198144,
 198145,
 198146,
 198147,
 198148,
 198149,
 198150,
 198151,
 198152,
 198153,
 198154,
 198155,
 198156,
 198157,
 198158,
 198159,
 198160,
 198161,
 198162,
 198163,
 198164,
 198165,
 198166,
 198167,
 198168,
 198169,
 198170,
 198171,
 198172,
 198173,
 198174,
 198175,
 198176,
 198177,
 198178,
 198179,
 198180,
 198181,
 198182,
 198183,
 198184,
 198185,
 198186,
 198187,
 198188,
 198189,
 198190,
 198191,
 198192,
 198193,
 198194,
 198195,
 198196,
 198197,
 198198,
 198199,
 198200,
 198201,
 198202,
 198203,
 198204,
 198205,
 198206,
 198207,
 198208,
 198209,
 198210,
 198211,
 198212,
 198213,
 198214,
 198215,
 198216,
 198217,
 198218,
 198219,
 198220,
 198221,
 198222,
 198223,
 198224,
 198225,
 198226,
 198227,
 198228,
 198229,
 198230,
 198231,
 198232,
 198233,
 198234,
 198235,
 198236,
 198237,
 198238,
 198239,
 198240,
 198241,
 198242,
 198243,
 198244,
 198245,
 198246,
 198247,
 198248,
 198249,
 198250,
 198251,
 198252,
 198253,
 198254,
 198255,
 198256,
 198257,
 198258,
 198259,
 198260,
 198261,
 198262,
 198263,
 198264,
 198265,
 198266,
 198267,
 198268,
 198269,
 198270,
 198271,
 198272,
 198273,
 198274,
 198275,
 198276,
 198277,
 198278,
 198279,
 198280,
 198281,
 198282,
 198283,
 198284,
 198285,
 198286,
 198287,
 198288,
 198289,
 198290,
 198291,
 198292,
 198293,
 198294,
 198295,
 198296,
 198297,
 198298,
 198299,
 198300,
 198301,
 198302,
 198303,
 198304,
 198305,
 198306,
 198307,
 198308,
 198309,
 198310,
 198311,
 198312,
 198313,
 198314,
 198315,
 198316,
 198317,
 198318,
 198319,
 198320,
 198321,
 198322,
 198323,
 198324,
 198325,
 198326,
 198327,
 198328,
 198329,
 198330,
 198331,
 198332,
 198333,
 198334,
 198335,
 198336,
 198337,
 198338,
 198339,
 198340,
 198341,
 198342,
 198343,
 198344,
 198345,
 198346,
 198347,
 198348,
 198349,
 198350,
 198351,
 198352,
 198353,
 198354,
 198355,
 198356,
 198357,
 198358,
 198359,
 198360,
 198361,
 198362,
 198363,
 198364,
 198365,
 198366,
 198367,
 198368,
 198369,
 198370,
 198371,
 198372,
 198373,
 198374,
 198375,
 198376,
 198377,
 198378,
 198379,
 198380,
 198381,
 198382,
 198383,
 198384,
 198385,
 198386,
 198387,
 198388,
 198389,
 198390,
 198391,
 198392,
 198393,
 198394,
 198395,
 198396,
 198397,
 198398,
 198399,
 198400,
 198401,
 198402,
 198403,
 198404,
 198405,
 198406,
 198407,
 198408,
 198409,
 198410,
 198411,
 198412,
 198413,
 198414,
 198415,
 198416,
 198417,
 198418,
 198419,
 198420,
 198421,
 198422,
 198423,
 198424,
 198425,
 198426,
 198427,
 198428,
 198429,
 198430,
 198431,
 198432,
 198433,
 198434,
 198435,
 198436,
 198437,
 198438,
 198439,
 198440,
 198441,
 198442,
 198443,
 198444,
 198445,
 198446,
 198447,
 198448,
 198449,
 198450,
 198451,
 198452,
 198453,
 198454,
 198455,
 198456,
 198457,
 198458,
 198459,
 198460,
 198461,
 198462,
 198463,
 198464,
 198465,
 198466,
 198467,
 198468,
 198469,
 198470,
 198471,
 198472,
 198473,
 198474,
 198475,
 198476,
 198477,
 198478,
 198479,
 198480,
 198481,
 198482,
 198483,
 198484,
 198485,
 198486,
 198487,
 198488,
 198489,
 198490,
 198491,
 198492,
 198493,
 198494,
 198495,
 198496,
 198497,
 198498,
 198499,
 198500,
 198501,
 198502,
 198503,
 198504,
 198505,
 198506,
 198507,
 198508,
 198509,
 198510,
 198511,
 198512,
 198513,
 198514,
 198515,
 198516,
 198517,
 198518,
 198519,
 198520,
 198521,
 198522,
 198523,
 198524,
 198525,
 198526,
 198527,
 198528,
 198529,
 198530,
 198531,
 198532,
 198533,
 198534,
 198535,
 198536,
 198537,
 198538,
 198539,
 198540,
 198541,
 198542,
 198543,
 198544,
 198545,
 198546,
 198547,
 198548,
 198549,
 198550,
 198551,
 198552,
 198553,
 198554,
 198555,
 198556,
 198557,
 198558,
 198559,
 198560,
 198561,
 198562,
 198563,
 198564,
 198565,
 198566,
 198567,
 198568,
 198569,
 198570,
 198571,
 198572,
 198573,
 198574,
 198575,
 198576,
 198577,
 198578,
 198579,
 198580,
 198581,
 198582,
 198583,
 198584,
 198585,
 198586,
 198587,
 198588,
 198589,
 198590,
 198591,
 198592,
 198593,
 198594,
 198595,
 198596,
 198597,
 198598,
 198599,
 198600,
 198601,
 198602,
 198603,
 198604,
 198605,
 198606,
 198607,
 198608,
 198609,
 198610,
 198611,
 198612,
 198613,
 198614,
 198615,
 198616,
 198617,
 198618,
 198619,
 198620,
 198621,
 198622,
 198623,
 198624,
 198625,
 198626,
 198627,
 198628,
 198629,
 198630,
 198631,
 198632,
 198633,
 198634,
 198635,
 198636,
 198637,
 198638,
 198639,
 198640,
 198641,
 198642,
 198643,
 198644,
 198645,
 198646,
 198647,
 198648,
 198649,
 198650,
 198651,
 198652,
 198653,
 198654,
 198655,
 198656,
 198657,
 198658,
 198659,
 198660,
 198661,
 198662,
 198663,
 198664,
 198665,
 198666,
 198667,
 198668,
 198669,
 198670,
 198671,
 198672,
 198673,
 198674,
 198675,
 198676,
 198677,
 198678,
 198679,
 198680,
 198681,
 198682,
 198683,
 198684,
 198685,
 198686,
 198687,
 198688,
 198689,
 198690,
 198691,
 198692,
 198693,
 198694,
 198695,
 198696,
 198697,
 198698,
 198699,
 198700,
 198701,
 198702,
 198703,
 198704,
 198705,
 198706,
 198707,
 198708,
 198709,
 198710,
 198711,
 198712,
 198713,
 198714,
 198715,
 198716,
 198717,
 198718,
 198719,
 198720,
 198721,
 198722,
 198723,
 198724,
 198725,
 198726,
 198727,
 198728,
 198729,
 198730,
 198731,
 198732,
 198733,
 198734,
 198735,
 198736,
 198737,
 198738,
 198739,
 198740,
 198741,
 198742,
 198743,
 198744,
 198745,
 198746,
 198747]

In [87]:
zim.loc[197897:198081]

        location  total_vaccinations  daily_vaccinations
id_row
197897    Zambia                 0.0          -3178009.0
197898    Zambia           3216653.0           3216653.0
197899    Zambia                 0.0          -3216653.0
197900    Zambia           3237700.0           3237700.0
197901    Zambia           3267529.0             29829.0
197902    Zambia                 0.0          -3267529.0
197903    Zambia           3288541.0           3288541.0
197904    Zambia                 0.0          -3288541.0
197905    Zambia           3325582.0           3325582.0
197906    Zambia           3345769.0             20187.0
197907    Zambia                 0.0          -3345769.0
197908    Zambia                 0.0                 0.0
197909    Zambia                 0.0                 0.0
197910    Zambia           3390539.0           3390539.0
198078  Zimbabwe                 0.0                 NaN
198079  Zimbabwe                 0.0                 0.0
198080  Zimbabwe                 0.0                 0.0
198081  Zimbabwe                 0.0                 0.0

In [85]:
# Count the number of negative daily_vaccinations
neg_vac = daily_vac_general_df.loc[daily_vac_general_df.daily_vaccinations < 0]
neg_vac.shape

(6348, 33)

In [88]:
# Drop negative difference in total_vaccination since it indicated gaps in reporting total_vacciantions.
nogap_daily_vac_general_df = daily_vac_general_df.copy()
nogap_daily_vac_general_df.drop(nogap_daily_vac_general_df[nogap_daily_vac_general_df.daily_vaccinations < 0].index, inplace=True)
nogap_daily_vac_general_df.shape

(115850, 33)

In [90]:
check11_df = nogap_daily_vac_general_df[['location', 'total_vaccinations', 'daily_vaccinations']]
zim1 = check11_df.loc[check11_df.location.isin(locations)]
zim1.loc[197897:198081]

        location  total_vaccinations  daily_vaccinations
id_row
197898    Zambia           3216653.0           3216653.0
197900    Zambia           3237700.0           3237700.0
197901    Zambia           3267529.0             29829.0
197903    Zambia           3288541.0           3288541.0
197905    Zambia           3325582.0           3325582.0
197906    Zambia           3345769.0             20187.0
197908    Zambia                 0.0                 0.0
197909    Zambia                 0.0                 0.0
197910    Zambia           3390539.0           3390539.0
198078  Zimbabwe                 0.0                 NaN
198079  Zimbabwe                 0.0                 0.0
198080  Zimbabwe                 0.0                 0.0
198081  Zimbabwe                 0.0                 0.0

In [91]:
# Check the count of missing differences in daily vaccinations
nogap_daily_vac_general_df.daily_vaccinations.isnull().sum()

177

In [92]:
# Fill the null first records of difference calculations with zeros. 
nogap_daily_vac_general_df['daily_vaccinations'] = nogap_daily_vac_general_df['daily_vaccinations'].fillna(0)
print(nogap_daily_vac_general_df.shape)
nogap_daily_vac_general_df['daily_vaccinations'].isnull().sum()

(115850, 33)

0

#### Create Daily People Fully Vaccinated

In [93]:
# Create a new column to calculate the daily difference in people_fully_vaccinated  
daily_ppl_vac_general_df = nogap_daily_vac_general_df.copy()
daily_ppl_vac_general_df['daily_people_fully_vaccinated'] = daily_ppl_vac_general_df.groupby(['location'])['people_fully_vaccinated'].diff()
daily_ppl_vac_general_df.head()

,location,covid_days,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,...,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index,daily_vaccinations,daily_people_fully_vaccinated
id_row,,,,,,,,,,,,,,,,,,,,,
34,Afghanistan,88,114.0,8.0,11.429,4.0,2.0,0.571,2.862,0.201,...,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.511,0.0,NaN
35,Afghanistan,89,114.0,0.0,10.571,4.0,0.0,0.429,2.862,0.000,...,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.511,0.0,0.0
36,Afghanistan,90,166.0,52.0,17.714,4.0,0.0,0.429,4.167,1.305,...,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.511,0.0,0.0
37,Afghanistan,91,192.0,26.0,16.857,4.0,0.0,0.429,4.820,0.653,...,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.511,0.0,0.0
38,Afghanistan,92,235.0,43.0,22.143,4.0,0.0,0.286,5.899,1.079,...,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.511,0.0,0.0

In [95]:
# Confirm calculations
check12_df = daily_ppl_vac_general_df[['location', 'people_fully_vaccinated', 'daily_people_fully_vaccinated']]
check12_df.head()

           location  people_fully_vaccinated  daily_people_fully_vaccinated
id_row
34      Afghanistan                      0.0                            NaN
35      Afghanistan                      0.0                            0.0
36      Afghanistan                      0.0                            0.0
37      Afghanistan                      0.0                            0.0
38      Afghanistan                      0.0                            0.0

In [96]:
# Confirm daily_people_fully_vaccinated calculations are grouped by location. 
locations = ['Zambia','Zimbabwe']
zim2 = check12_df.loc[check12_df.location.isin(locations)]
zim2.location.value_counts()

Zimbabwe    642
Zambia      623
Name: location, dtype: int64

In [97]:
zim2.loc[197897:198081]

        location  people_fully_vaccinated  daily_people_fully_vaccinated
id_row
197898    Zambia                2082989.0                        19613.0
197900    Zambia                2094075.0                        11086.0
197901    Zambia                2109452.0                        15377.0
197903    Zambia                2120529.0                        11077.0
197905    Zambia                2140910.0                        20381.0
197906    Zambia                2152077.0                        11167.0
197908    Zambia                      0.0                     -2152077.0
197909    Zambia                      0.0                            0.0
197910    Zambia                2176230.0                      2176230.0
198078  Zimbabwe                      0.0                            NaN
198079  Zimbabwe                      0.0                            0.0
198080  Zimbabwe                      0.0                            0.0
198081  Zimbabwe                      0.0                            0.0

In [98]:
# Count the number of negative daily_people_fully_vaccinated
neg_ppl = daily_ppl_vac_general_df.loc[daily_ppl_vac_general_df.daily_people_fully_vaccinated < 0]
neg_ppl.shape

(3781, 34)

In [99]:
# Drop negative difference in daily_people_fully_vaccinated since it indicated gaps in reporting people_fully_vaccinated.
nogap_daily_ppl_vac_general_df = daily_ppl_vac_general_df.copy()
nogap_daily_ppl_vac_general_df.drop(nogap_daily_ppl_vac_general_df[nogap_daily_ppl_vac_general_df.daily_people_fully_vaccinated < 0].index, inplace=True)
nogap_daily_ppl_vac_general_df.shape

(112069, 34)

In [100]:
check13_df = nogap_daily_ppl_vac_general_df[['location', 'people_fully_vaccinated', 'daily_people_fully_vaccinated']]
zim2 = check13_df.loc[check13_df.location.isin(locations)]
zim2.loc[197897:198081]

        location  people_fully_vaccinated  daily_people_fully_vaccinated
id_row
197898    Zambia                2082989.0                        19613.0
197900    Zambia                2094075.0                        11086.0
197901    Zambia                2109452.0                        15377.0
197903    Zambia                2120529.0                        11077.0
197905    Zambia                2140910.0                        20381.0
197906    Zambia                2152077.0                        11167.0
197909    Zambia                      0.0                            0.0
197910    Zambia                2176230.0                      2176230.0
198078  Zimbabwe                      0.0                            NaN
198079  Zimbabwe                      0.0                            0.0
198080  Zimbabwe                      0.0                            0.0
198081  Zimbabwe                      0.0                            0.0

In [101]:
# Check the count of missing differences in daily people vaccinated
nogap_daily_ppl_vac_general_df.daily_people_fully_vaccinated.isnull().sum()

177

In [102]:
# Fill the null first records of difference calculations with zeros. 
nogap_daily_ppl_vac_general_df['daily_people_fully_vaccinated'] = nogap_daily_ppl_vac_general_df['daily_people_fully_vaccinated'].fillna(0)
print(nogap_daily_ppl_vac_general_df.shape)
nogap_daily_ppl_vac_general_df['daily_people_fully_vaccinated'].isnull().sum()

(112069, 34)

0

In [103]:
nogap_daily_ppl_vac_general_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112069 entries, 34 to 198747
Data columns (total 34 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   location                             112069 non-null  object
 1   covid_days                           112069 non-null  int64
 2   total_cases                          112069 non-null  float64
 3   new_cases                            112069 non-null  float64
 4   new_cases_smoothed                   111964 non-null  float64
 5   total_deaths                         110197 non-null  float64
 6   new_deaths                           110070 non-null  float64
 7   new_deaths_smoothed                  109612 non-null  float64
 8   total_cases_per_million              112069 non-null  float64
 9   new_cases_per_million                111991 non-null  float64
 10  new_cases_smoothed_per_million       111964 non-null  float64
 11  total_deaths_per_million             110197 non-null  float64
 12  new_deaths_per_million               110070 non-null  float64
 13  new_deaths_smoothed_per_million      109612 non-null  float64
 14  reproduction_rate                    112069 non-null  float64
 15  total_vaccinations                   112069 non-null  float64
 16  people_fully_vaccinated              112069 non-null  float64
 17  total_vaccinations_per_hundred       112069 non-null  float64
 18  people_fully_vaccinated_per_hundred  112069 non-null  float64
 19  stringency_index                     112069 non-null  float64
 20  population                           112069 non-null  float64
 21  population_density                   112069 non-null  float64
 22  median_age                           112069 non-null  float64
 23  aged_65_older                        112069 non-null  float64
 24  gdp_per_capita                       112069 non-null  float64
 25  cardiovasc_death_rate                112069 non-null  float64
 26  diabetes_prevalence                  112069 non-null  float64
 27  female_smokers                       91714 non-null   float64
 28  male_smokers                         90334 non-null   float64
 29  hospital_beds_per_thousand           102063 non-null  float64
 30  life_expectancy                      112069 non-null  float64
 31  human_development_index              112069 non-null  float64
 32  daily_vaccinations                   112069 non-null  float64
 33  daily_people_fully_vaccinated        112069 non-null  float64
dtypes: float64(32), int64(1), object(1)
memory usage: 29.9+ MB

#### Normalize Variables Per 100,000 People

In [104]:
# Create a new column to normalize total_cases per 100,000 people, using the provided total_cases_per_million column.
total_cases_100k_general_df = nogap_daily_ppl_vac_general_df.copy()
total_cases_100k_general_df["total_cases_per_100K"] = total_cases_100k_general_df["total_cases_per_million"] / 10
print(total_cases_100k_general_df.shape)

(112069, 35)

In [106]:
check_df = total_cases_100k_general_df[["location", "total_cases", "population", "total_cases_per_million", "total_cases_per_100K"]]
check_df.sample(5)

,location,total_cases,population,total_cases_per_million,total_cases_per_100K
id_row,,,,,
101146,Liberia,1311.0,5180208.0,253.079,25.3079
114341,Mauritania,37094.0,4775110.0,7768.198,776.8198
7863,Armenia,13130.0,2968128.0,4423.664,442.3664
123088,Myanmar,113082.0,54806014.0,2063.314,206.3314
122363,Mozambique,67729.0,32163045.0,2105.802,210.5802

In [107]:
# Drop the older column 'total_cases_per_million'
total_cases_100k_general_df = total_cases_100k_general_df.drop(columns="total_cases_per_million", axis=1)
print(total_cases_100k_general_df.shape)

(112069, 34)

In [108]:
# Create a new column to normalize new_cases per 100,000 people, using the provided new_cases_per_million column.
new_cases_100k_general_df = total_cases_100k_general_df.copy()
new_cases_100k_general_df["new_cases_per_100K"] = new_cases_100k_general_df["new_cases_per_million"] / 10
print(new_cases_100k_general_df.shape)

(112069, 35)

In [109]:
check_1_df = new_cases_100k_general_df[["location", "new_cases", "population", "new_cases_per_million", "new_cases_per_100K"]]
check_1_df.sample(5)

,location,new_cases,population,new_cases_per_million,new_cases_per_100K
id_row,,,,,
142976,Philippines,1581.0,1.110469e+08,14.237,1.4237
186509,United Kingdom,612.0,6.820711e+07,8.973,0.8973
178541,Togo,17.0,8.478242e+06,2.005,0.2005
37180,China,26.0,1.444216e+09,0.018,0.0018
24899,Brazil,21807.0,2.139934e+08,101.905,10.1905

In [110]:
# Drop the older column 'new_cases_per_million'
new_cases_100k_general_df = new_cases_100k_general_df.drop(columns="new_cases_per_million", axis=1)
print(new_cases_100k_general_df.shape)

(112069, 34)

In [ ]:
# # Create a new column to normalize new_cases_smoothed per 100,000 people, using the provided new_cases_smoothed_per_million column.
# avg_new_cases_general_df = new_cases_general_df.copy()
# avg_new_cases_general_df["new_cases_smoothed_per_100K"] = avg_new_cases_general_df["new_cases_smoothed_per_million"] / 10
# print(avg_new_cases_general_df.shape)

In [ ]:
# check_2_df = avg_new_cases_general_df[["location", "date", "new_cases_smoothed", "population", "new_cases_smoothed_per_million", "new_cases_smoothed_per_100K"]]
# check_2_df.sample(5)

In [ ]:
# # Drop the older column 'new_cases_smoothed_per_million'
# avg_new_cases_general_df = avg_new_cases_general_df.drop(columns="new_cases_smoothed_per_million", axis=1)
# print(avg_new_cases_general_df.shape)

Normalize:
- **total_vaccinations_per_100K** = total_vaccinations_per_hundred * 1000
- **people_fully_vaccinated_per_100K** = people_fully_vaccinated_per_hundred * 1000

In [111]:
# Create a new column to normalize total_vaccinations_per_hundred
total_vac_100k_general_df = new_cases_100k_general_df.copy()
total_vac_100k_general_df["total_vaccinations_per_100K"] = total_vac_100k_general_df["total_vaccinations_per_hundred"] * 1000
print(total_vac_100k_general_df.shape)

(112069, 35)

In [112]:
check_3_df = total_vac_100k_general_df[["location", "total_vaccinations", "population", "total_vaccinations_per_hundred", "total_vaccinations_per_100K"]]
check_3_df.sample(5)

,location,total_vaccinations,population,total_vaccinations_per_hundred,total_vaccinations_per_100K
id_row,,,,,
18271,Belize,0.0,404915.0,0.00,0.0
76833,Guyana,0.0,790329.0,0.00,0.0
32210,Canada,54516547.0,38067913.0,143.21,143210.0
8314,Armenia,0.0,2968128.0,0.00,0.0
51444,Ecuador,30451413.0,17888474.0,170.23,170230.0

In [113]:
# Drop the older column 'total_vaccinations_per_hundred'
total_vac_100k_general_df = total_vac_100k_general_df.drop(columns=["total_vaccinations_per_hundred"], axis=1)
print(total_vac_100k_general_df.shape)

(112069, 34)

In [114]:
# Create a new column to normalize people_fully_vaccinated_per_hundred 
ppl_vac_100k_general_df = total_vac_100k_general_df.copy()
ppl_vac_100k_general_df["people_fully_vaccinated_per_100K"] = ppl_vac_100k_general_df["people_fully_vaccinated_per_hundred"] * 1000
print(ppl_vac_100k_general_df.shape)

(112069, 35)

In [115]:
check_4_df = ppl_vac_100k_general_df[["location", "people_fully_vaccinated", "population", "people_fully_vaccinated_per_hundred", "people_fully_vaccinated_per_100K"]]
check_4_df.sample(5)

,location,people_fully_vaccinated,population,people_fully_vaccinated_per_hundred,people_fully_vaccinated_per_100K
id_row,,,,,
194651,Vietnam,0.0,98168829.0,0.00,0.0
24534,Botswana,0.0,2397240.0,0.00,0.0
137429,Pakistan,0.0,225199929.0,0.00,0.0
136691,Oman,19019.0,5223376.0,0.36,360.0
42942,Croatia,2219989.0,4081657.0,54.39,54390.0

In [116]:
# Drop the older column 'people_fully_vaccinated_per_hundred'
ppl_vac_100k_general_df = ppl_vac_100k_general_df.drop(columns=["people_fully_vaccinated_per_hundred"], axis=1)
print(ppl_vac_100k_general_df.shape)

(112069, 34)

In [117]:
ppl_vac_100k_general_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112069 entries, 34 to 198747
Data columns (total 34 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   location                          112069 non-null  object
 1   covid_days                        112069 non-null  int64
 2   total_cases                       112069 non-null  float64
 3   new_cases                         112069 non-null  float64
 4   new_cases_smoothed                111964 non-null  float64
 5   total_deaths                      110197 non-null  float64
 6   new_deaths                        110070 non-null  float64
 7   new_deaths_smoothed               109612 non-null  float64
 8   new_cases_smoothed_per_million    111964 non-null  float64
 9   total_deaths_per_million          110197 non-null  float64
 10  new_deaths_per_million            110070 non-null  float64
 11  new_deaths_smoothed_per_million   109612 non-null  float64
 12  reproduction_rate                 112069 non-null  float64
 13  total_vaccinations                112069 non-null  float64
 14  people_fully_vaccinated           112069 non-null  float64
 15  stringency_index                  112069 non-null  float64
 16  population                        112069 non-null  float64
 17  population_density                112069 non-null  float64
 18  median_age                        112069 non-null  float64
 19  aged_65_older                     112069 non-null  float64
 20  gdp_per_capita                    112069 non-null  float64
 21  cardiovasc_death_rate             112069 non-null  float64
 22  diabetes_prevalence               112069 non-null  float64
 23  female_smokers                    91714 non-null   float64
 24  male_smokers                      90334 non-null   float64
 25  hospital_beds_per_thousand        102063 non-null  float64
 26  life_expectancy                   112069 non-null  float64
 27  human_development_index           112069 non-null  float64
 28  daily_vaccinations                112069 non-null  float64
 29  daily_people_fully_vaccinated     112069 non-null  float64
 30  total_cases_per_100K              112069 non-null  float64
 31  new_cases_per_100K                111991 non-null  float64
 32  total_vaccinations_per_100K       112069 non-null  float64
 33  people_fully_vaccinated_per_100K  112069 non-null  float64
dtypes: float64(32), int64(1), object(1)
memory usage: 29.9+ MB

In [124]:
# Create a new column to normalize daily_vaccinations per 100,000 people
daily_vac_100k_general_df = ppl_vac_100k_general_df.copy()

def daily_vac_100K(df_sub):
    daily_vac_100k_general_df['daily_vaccinations_per_100K'] = daily_vac_100k_general_df['daily_vaccinations'] / daily_vac_100k_general_df['population'] * 100000
    return df_sub

daily_vac_100k_general_df.groupby('location').apply(daily_vac_100K)
print(daily_vac_100k_general_df.shape)

(112069, 35)

In [125]:
daily_vac_100k_general_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112069 entries, 34 to 198747
Data columns (total 35 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   location                          112069 non-null  object
 1   covid_days                        112069 non-null  int64
 2   total_cases                       112069 non-null  float64
 3   new_cases                         112069 non-null  float64
 4   new_cases_smoothed                111964 non-null  float64
 5   total_deaths                      110197 non-null  float64
 6   new_deaths                        110070 non-null  float64
 7   new_deaths_smoothed               109612 non-null  float64
 8   new_cases_smoothed_per_million    111964 non-null  float64
 9   total_deaths_per_million          110197 non-null  float64
 10  new_deaths_per_million            110070 non-null  float64
 11  new_deaths_smoothed_per_million   109612 non-null  float64
 12  reproduction_rate                 112069 non-null  float64
 13  total_vaccinations                112069 non-null  float64
 14  people_fully_vaccinated           112069 non-null  float64
 15  stringency_index                  112069 non-null  float64
 16  population                        112069 non-null  float64
 17  population_density                112069 non-null  float64
 18  median_age                        112069 non-null  float64
 19  aged_65_older                     112069 non-null  float64
 20  gdp_per_capita                    112069 non-null  float64
 21  cardiovasc_death_rate             112069 non-null  float64
 22  diabetes_prevalence               112069 non-null  float64
 23  female_smokers                    91714 non-null   float64
 24  male_smokers                      90334 non-null   float64
 25  hospital_beds_per_thousand        102063 non-null  float64
 26  life_expectancy                   112069 non-null  float64
 27  human_development_index           112069 non-null  float64
 28  daily_vaccinations                112069 non-null  float64
 29  daily_people_fully_vaccinated     112069 non-null  float64
 30  total_cases_per_100K              112069 non-null  float64
 31  new_cases_per_100K                111991 non-null  float64
 32  total_vaccinations_per_100K       112069 non-null  float64
 33  people_fully_vaccinated_per_100K  112069 non-null  float64
 34  daily_vaccinations_per_100K       112069 non-null  float64
dtypes: float64(33), int64(1), object(1)
memory usage: 30.8+ MB

In [129]:
check_5_df = daily_vac_100k_general_df[["location", "daily_vaccinations", "population", "daily_vaccinations_per_100K"]]
check_5_df.sample(5)

        location  daily_vaccinations   population  daily_vaccinations_per_100K
id_row
2278     Albania           1373349.0    2872934.0                  47803.01253
25447     Brazil            609264.0  213993441.0                    284.71153
94963   Kiribati                 0.0     121388.0                      0.00000
144559  Portugal                 0.0   10167923.0                      0.00000
178268     Timor                 0.0    1343875.0                      0.00000

In [130]:
# Create a new column to normalize daily_people_fully_vaccinated per 100,000 people
daily_ppl_100k_general_df = daily_vac_100k_general_df.copy()

def daily_ppl_vac_100K(df_sub):
    daily_ppl_100k_general_df['daily_people_fully_vaccinated_per_100K'] = daily_ppl_100k_general_df['daily_people_fully_vaccinated'] / daily_ppl_100k_general_df['population'] * 100000
    return df_sub

daily_ppl_100k_general_df.groupby('location').apply(daily_ppl_vac_100K)
print(daily_ppl_100k_general_df.shape)

(112069, 36)

In [133]:
check_6_df = daily_ppl_100k_general_df[["location", "daily_people_fully_vaccinated", "population", "daily_people_fully_vaccinated_per_100K"]]
check_6_df.sample(5)

,location,daily_people_fully_vaccinated,population,daily_people_fully_vaccinated_per_100K
id_row,,,,
27407,Bulgaria,0.0,6896655.0,0.000000
117592,Moldova,1867.0,4024025.0,46.396332
7366,Argentina,52012.0,45605823.0,114.046840
144225,Poland,4428.0,37797000.0,11.715215
91300,Japan,697197.0,126050796.0,553.107971

In [134]:
daily_ppl_100k_general_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112069 entries, 34 to 198747
Data columns (total 36 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   location                                112069 non-null  object
 1   covid_days                              112069 non-null  int64
 2   total_cases                             112069 non-null  float64
 3   new_cases                               112069 non-null  float64
 4   new_cases_smoothed                      111964 non-null  float64
 5   total_deaths                            110197 non-null  float64
 6   new_deaths                              110070 non-null  float64
 7   new_deaths_smoothed                     109612 non-null  float64
 8   new_cases_smoothed_per_million          111964 non-null  float64
 9   total_deaths_per_million                110197 non-null  float64
 10  new_deaths_per_million                  110070 non-null  float64
 11  new_deaths_smoothed_per_million         109612 non-null  float64
 12  reproduction_rate                       112069 non-null  float64
 13  total_vaccinations                      112069 non-null  float64
 14  people_fully_vaccinated                 112069 non-null  float64
 15  stringency_index                        112069 non-null  float64
 16  population                              112069 non-null  float64
 17  population_density                      112069 non-null  float64
 18  median_age                              112069 non-null  float64
 19  aged_65_older                           112069 non-null  float64
 20  gdp_per_capita                          112069 non-null  float64
 21  cardiovasc_death_rate                   112069 non-null  float64
 22  diabetes_prevalence                     112069 non-null  float64
 23  female_smokers                          91714 non-null   float64
 24  male_smokers                            90334 non-null   float64
 25  hospital_beds_per_thousand              102063 non-null  float64
 26  life_expectancy                         112069 non-null  float64
 27  human_development_index                 112069 non-null  float64
 28  daily_vaccinations                      112069 non-null  float64
 29  daily_people_fully_vaccinated           112069 non-null  float64
 30  total_cases_per_100K                    112069 non-null  float64
 31  new_cases_per_100K                      111991 non-null  float64
 32  total_vaccinations_per_100K             112069 non-null  float64
 33  people_fully_vaccinated_per_100K        112069 non-null  float64
 34  daily_vaccinations_per_100K             112069 non-null  float64
 35  daily_people_fully_vaccinated_per_100K  112069 non-null  float64
dtypes: float64(34), int64(1), object(1)
memory usage: 31.6+ MB

To predict the daily number of new COVID-19 cases, we will focus on processing the following columns and creating new features off of these: (total_cases, new_cases, total_cases_per_million, new_cases_per_million, reproduction_rate, total_vaccinations, people_fully_vaccinated, total_vaccinations_per_hundred, people_fully_vaccinated_per_hundred, stringency_index, population, population_density, median_age, aged_65_older, gdp_per_capita, cardiovasc_death_rate, diabetes_prevalence, life_expectancy, human_development_index).

### Split the dataset into 2 dataframe: one for cases prediction and another for deaths prediction.

In [136]:
# Create death_pred_df 
death_pred_df = daily_ppl_100k_general_df.copy()
print(death_pred_df.shape)

(112069, 36)

In [137]:
death_pred_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112069 entries, 34 to 198747
Data columns (total 36 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   location                                112069 non-null  object
 1   covid_days                              112069 non-null  int64
 2   total_cases                             112069 non-null  float64
 3   new_cases                               112069 non-null  float64
 4   new_cases_smoothed                      111964 non-null  float64
 5   total_deaths                            110197 non-null  float64
 6   new_deaths                              110070 non-null  float64
 7   new_deaths_smoothed                     109612 non-null  float64
 8   new_cases_smoothed_per_million          111964 non-null  float64
 9   total_deaths_per_million                110197 non-null  float64
 10  new_deaths_per_million                  110070 non-null  float64
 11  new_deaths_smoothed_per_million         109612 non-null  float64
 12  reproduction_rate                       112069 non-null  float64
 13  total_vaccinations                      112069 non-null  float64
 14  people_fully_vaccinated                 112069 non-null  float64
 15  stringency_index                        112069 non-null  float64
 16  population                              112069 non-null  float64
 17  population_density                      112069 non-null  float64
 18  median_age                              112069 non-null  float64
 19  aged_65_older                           112069 non-null  float64
 20  gdp_per_capita                          112069 non-null  float64
 21  cardiovasc_death_rate                   112069 non-null  float64
 22  diabetes_prevalence                     112069 non-null  float64
 23  female_smokers                          91714 non-null   float64
 24  male_smokers                            90334 non-null   float64
 25  hospital_beds_per_thousand              102063 non-null  float64
 26  life_expectancy                         112069 non-null  float64
 27  human_development_index                 112069 non-null  float64
 28  daily_vaccinations                      112069 non-null  float64
 29  daily_people_fully_vaccinated           112069 non-null  float64
 30  total_cases_per_100K                    112069 non-null  float64
 31  new_cases_per_100K                      111991 non-null  float64
 32  total_vaccinations_per_100K             112069 non-null  float64
 33  people_fully_vaccinated_per_100K        112069 non-null  float64
 34  daily_vaccinations_per_100K             112069 non-null  float64
 35  daily_people_fully_vaccinated_per_100K  112069 non-null  float64
dtypes: float64(34), int64(1), object(1)
memory usage: 31.6+ MB

In [138]:
# Export the deaths prediction DataFrame to a csv file.
death_output_file = Path("./Resources/death_pred.csv")
death_pred_df.to_csv(death_output_file, index=True)

In [141]:
#Creat cases_pred_df
cases_pred_df = daily_ppl_100k_general_df.copy()
outcome_col_drop = ["total_deaths", "new_deaths", "new_deaths_smoothed", "total_deaths_per_million",
            "new_deaths_per_million", "new_deaths_smoothed_per_million", "hospital_beds_per_thousand"]
cases_pred_df = cases_pred_df.drop(columns=outcome_col_drop, axis=1)
cases_pred_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112069 entries, 34 to 198747
Data columns (total 29 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   location                                112069 non-null  object
 1   covid_days                              112069 non-null  int64
 2   total_cases                             112069 non-null  float64
 3   new_cases                               112069 non-null  float64
 4   new_cases_smoothed                      111964 non-null  float64
 5   new_cases_smoothed_per_million          111964 non-null  float64
 6   reproduction_rate                       112069 non-null  float64
 7   total_vaccinations                      112069 non-null  float64
 8   people_fully_vaccinated                 112069 non-null  float64
 9   stringency_index                        112069 non-null  float64
 10  population                              112069 non-null  float64
 11  population_density                      112069 non-null  float64
 12  median_age                              112069 non-null  float64
 13  aged_65_older                           112069 non-null  float64
 14  gdp_per_capita                          112069 non-null  float64
 15  cardiovasc_death_rate                   112069 non-null  float64
 16  diabetes_prevalence                     112069 non-null  float64
 17  female_smokers                          91714 non-null   float64
 18  male_smokers                            90334 non-null   float64
 19  life_expectancy                         112069 non-null  float64
 20  human_development_index                 112069 non-null  float64
 21  daily_vaccinations                      112069 non-null  float64
 22  daily_people_fully_vaccinated           112069 non-null  float64
 23  total_cases_per_100K                    112069 non-null  float64
 24  new_cases_per_100K                      111991 non-null  float64
 25  total_vaccinations_per_100K             112069 non-null  float64
 26  people_fully_vaccinated_per_100K        112069 non-null  float64
 27  daily_vaccinations_per_100K             112069 non-null  float64
 28  daily_people_fully_vaccinated_per_100K  112069 non-null  float64
dtypes: float64(27), int64(1), object(1)
memory usage: 25.7+ MB

**We left in the smoothed numbers and smokers columns for later decision in the ML code file.**

In [142]:
# Export the cases prediction DataFrame to a csv file.
cases_output_file = Path("./Resources/cases_pred.csv")
cases_pred_df.to_csv(cases_output_file, index=True)